body {
  font-family: "Roboto", sans-serif;
  /* Default font properties */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
}
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
address {
  font-style: normal;
}

img {
  display: block;
}
:root {
  --color-brand-light: #f4f4fd;
  --color-footer: #4d5ae5;
}
/* Header */
/* region Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
}

.footer .logo {
}
[href="./index.html"] {
  color: #2e2f42;
}

.nav-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.nav-address-link {
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-address-link:hover,
.nav-address-link:focus {
  color: #404bbf;
}

/****** container :default *******/
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.page-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
}

.nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
/* .nav :after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.nav-list {
  display: flex;
  gap: 40px;
  margin-right: 76px;
}

.nav-list-link.current {
  color: #404bbf;
}
.nav-list-link.current::after {
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-item {
  display: flex;
  gap: 40px;
}

.nav-list-link .nav-address-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item .page-header {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
  align-items: center;
}

.nav-address {
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-address-item {
  display: flex;
}

/*===========Hero========== */
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
}
.hero-container {
  padding: 188px 0;
  text-align: center;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.hero-section > .container {
  /*   display: block; */
}
/* -----------features-section---------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: #ffffff;
}

.features-section {
  background-color: #ffffff;
  padding: 120px 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  display: block;
  width: calc((100% - 72px) / 4);
}
.features-svg {
  display: flex;
  background: #f4f4fd;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  margin-bottom: 8px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.features-text {
  letter-spacing: 0.02em;
  color: #434455;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

.icon-social.icon-light {
  fill: var(--color-brand-light);
  width: 16px;
  height: 16px;
}

.team-title-main {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-list > .team-item:first-child {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-container {
  display: block;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.job-title {
  padding: 32px 0;
}
.team-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* ===========section 4================== */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
}
.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  color: var(--color-brand-light);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover,
.card-overlay {
  transform: translateY(0%);
}

.project-tool {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.project-category {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo-light {
  color: #f4f4fd;
}
.footer-block {
  margin-right: 120px;
}

.footer-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social-list .social-list-dark {
  display: flex;
  gap: 16px;
}
.social-block-item.current {
  width: 40px;
  height: 40px;
}

.social-icon-link.social-icon-link-dark {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-footer);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.social-icon-link.social-icon-link-dark:hover,
.social-icon-link.social-icon-link-dark:focus {
  background-color: #31d0aa;
}

.icon-social.social-dark {
  width: 24px;
  height: 24px;
  fill: var(--color-brand-light);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
